.form{
    width: 500px;
    box-shadow: 0 0 20px skyblue;
    text-align: center;
    padding: 20px;
    margin: 5rem auto;
}
.form h2{
    margin: 0;
}
.form input,button{
    margin-top: 15px;
}
.form button{
    padding: 0.7rem;
    background-color: navy;
    border-radius: 15px;
    color: #fff;
}