.parent{
    width: 500px;
    height: 500px;
    background-color: black;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    width: 200px;
    height: 250px;
    transition: 5s;
}
img:hover{
    transform: rotate(90deg);
}