:root{
    --color-1 : #1c2841;
    --text-color: #f0f0f0;
    --accent-color : #FF6969;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}


html{
    scroll-behavior: smooth;
}

#scrollup, #scrolldown{
    position: fixed;
    right: 20px;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
}

#scrollup{
    top: 10vh;
    display: none;
}
#scrolldown{
    bottom : 40px;
}


/*! NAVBAR */

/* #navbar{
    background-color: #1c2841;
    color: #F7EFE5;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
}
nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
}

li a {
    color: #F7EFE5;
    text-decoration: none;
    text-decoration-color: #F7EFE5;
    transition: .5s;
    transition-duration: 1s;
}

li a:hover {
    color: #FF6969;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    opacity: .85;
}

.logo:hover {
    cursor: pointer;
} */

nav{
    width: 100%;
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover{
    border-bottom: 5px solid var(--accent-color);
    color: var(--accent-color);
}

nav .logo{
    margin-right: auto;
}

#sidebar-active{
    display: none;
}

.open-sidebar-btn, .close-sidebar-btn{ 
    display: none;
}


@media screen and (max-width: 767px) {
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 1s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-btn, .close-sidebar-btn{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9; 
    }
    .projects-container{
        display: flex;
        flex-direction: column;
    } 
    .project-description{
        width: 100%;
    }
}


.text-p1 {
    text-align: center;
}

.title {
    font-size: 3rem;
    text-align: center;
}

section {
    width: 100%;
    box-sizing: border-box;
    min-height: fit-content;
    color: #F7EFE5;
}

/*! PROFILE SECTION */

#profile {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 99vh;
    background-color: #021526;
    padding-top: 3.1rem;
}
.profile-container{
    display: flex;
}
#profile1 {
    border-radius: 50%;
    /* width: 23rem;
    height: 23rem; */
}

.profile-photo {
    display: flex;
    height: 290px;
    width: 300px;
    margin: auto 0;
}

.intro {
    align-self: center;
    text-align: center;
}

.intro p {
    font-weight: 600;
}

.text-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

a .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color: #F7EFE5;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 10px grey;

}

.btn-color-1,
.btn-color-2:hover {
    background: #F7EFE5;
    color: #000000;
}

.btn-color-1:hover {
    background: #000000;
    color: #F7EFE5;
}

.btn-color-2 {
    background: none;
}


#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
}

#socials-container a{
    font-size: 1.5rem;
    color: #F7EFE5; 
}
a .github{
    font-size: 1.5rem;
}
#socials-container a:hover{
    color: #FF6969;
}



/*! ABOUT SECTION */

#about {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    background-color: #021526;
    padding-top: 4rem;
}

.details-container{
    /* width: 70%; */
    text-align: center;
    border: 1px solid #F7EFE5;
    border-radius: 10px;
    margin: 5rem auto;
    padding: 3rem;
    line-height: 1.8;
}

.highlight{
    font-weight: 700;
    color: #FF6969;
}


/*! Experience section */

#experience {
    width: 100%;
    /* display: flex;
    justify-content: center;
    gap: 5rem; */
    background-color: #021526;
    padding-top: 3.6rem;

}

.experience-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.frontend,
.backend, 
.development-tools{
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 2rem;
    margin: 1.5rem auto;
    text-align: center;
}
.frnt{
    margin-top: 0;
    margin-bottom: 2rem;
}

.proicons{ 
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.fa-html5, .fa-css3-alt, .fa-js, .fa-react, .fa-git, .fa-github{
    font-size: 3rem;
}


/*! Projects Section */


#projects {
    width: 100%;
    /* display: flex;
    justify-content: center;
    gap: 5rem; */
    padding-top: 4rem;
    /* height: 122vh; */
    background-color: #021526;
}

.projects-container{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 6rem;
    margin: 0 auto;
}

/* .project-img{

    width: 50%;
    
} */
.project-description{
    padding-top: 1rem;
    line-height: 2;
    text-align: justify;
    /* width: 50%; */
}



/*!  Contact Section  */


#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 4rem;
  background-color: #021526;

}

/* .contact-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.contact-info p i {
  font-size: 2rem;
}

.contact-info p a {
  text-decoration: none;
  color: #fff;
}
.contact-info p a:hover{
    transition: 0.4s ;
    color: #FF6969;
} */

/*! From Uiverse.io by DavidTM96 */ 

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  /* background-color: #171717; */
  background-color: #0a192f;
  border-radius: 20px;
  margin-top: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  margin-top: 2em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #64ffda;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
    margin: 30px auto;
    width: 400px;
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}




/*! Footer Section */

#footer{
    background-color: #021526;
    /* height: 40vh; */
}

.footer-container{
    text-align: center;
    margin: 0 14rem;
    padding: 3rem;
}

.l-link{
    text-decoration: none;
    color: #FF6969;
}

.socials{
    margin: 1.5rem auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.socials a{
    color: #fff;
}
.socials a:hover{
    color: #FF6969;
}
.foot{
    padding: 10px;
    background-color: #1c2841;
    text-align: center;
}

