.container{
    /* width: 1000px; */
    height: 700px;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "header header header"
                         "nav section section"
                         "footer footer footer";

}

header{
    /* height: 70px; */
    background-color: red;
    grid-area: header;

}
nav {
    /* height: 70px; */
    background-color: green;
    grid-area: nav;

}
section {
    /* height: 70px; */
    background-color: grey;
    grid-area: section;

}
footer {
    /* height: 70px; */
    background-color: blueviolet;
    grid-area: footer;

}