.seviceContainer{
    height: 40vh;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCtMuXwNf51tq1Fuf-IqG8_xHS2VX_tXySDA&s') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}